Alvaro Ramirez Zenteno 26/08/2024

In [13]:
import pandas as pd
datos=pd.read_excel("datosCT.xlsx")
datos

    Unnamed: 0  Ingreso  Gasto
0        Enero     1340   1880
1      Febrero     2590   3130
2        Marzo     3570   2140
3        Abril     4450   3370
4         Mayo     1330   2990
5        Junio     1610   1970
6        Julio     1500   2230
7       Agosto     2270   1240
8   Septiembre     1910   1470
9      Octubre     2120   2280
10   Noviembre     3950   1870
11   Diciembre     1380   3140

In [43]:
datos["Utilidad"]=datos["Ingreso"]-datos["Gasto"]
datos["Utilidad"]

0     -540
1     -540
2     1430
3     1080
4    -1660
5     -360
6     -730
7     1030
8      440
9     -160
10    2080
11   -1760
Name: Utilidad, dtype: int64

In [61]:
datos["Utilidadnegativo"] = datos[datos['Utilidad'] < 0]['Gasto']
datos["Utilidadnegativo"]

0     1880.0
1     3130.0
2        NaN
3        NaN
4     2990.0
5     1970.0
6     2230.0
7        NaN
8        NaN
9     2280.0
10       NaN
11    3140.0
Name: Utilidadnegativo, dtype: float64

In [69]:
datos["IngresosTotales"]=datos["Ingreso"]
datos["IngresosTotales"]

0     1340
1     2590
2     3570
3     4450
4     1330
5     1610
6     1500
7     2270
8     1910
9     2120
10    3950
11    1380
Name: IngresosTotales, dtype: int64

In [73]:
import numpy as np


a = np.array([
    [1,2],
    [4,3]])
b= np.array([[1],
             [2]])

In [75]:
a @ b

array([[ 5],
       [10]])